<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries><package android:name="com.kandong.modelprobe.test" /></queries>
    <application>
        <activity android:name=".RegionVisualLabActivity" android:exported="true"
            android:label="看懂选区实验" android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
